<div class="navigation">
<a href="/users/logout" class="btn" >Logout</a>
<a href="/users/rankings" class="btn" >Rankings</a>
<a href="/users/salary" class="btn" >Salary</a>
</div>
<br><br><br><br><br>


<div style="text-align: center;">
<img src="img/logoWhite.png"></img>
<br><br><br><br><br><br><br><br><br>
    <a href="/users/employeeForm" class="btn" style="padding-left:30px; padding-right:30px;" >Employee</a>
    <a href="/users/companyForm" class="btn" style="padding-left:30px; padding-right:30px;">Company</a>

</div>
<br><br><br><br><br>
<div>
</div>
<about>
<div class="aboutUs">
    <div class="fontA" style="font-size:80px; color:white; font-weight:400; line-height:80px; text-align: justify;">
        About <br> Us
    </div>
    <div id="texts" style="color:white;">
        SalaryTransparency is developed on the foundation of increasing workplace transparency.
        We offer insights into the employee experience powered by company ratings, salary reports and questions.
        All of these information is shared by those who know a company best — THE EMPLOYEES. We help employees to know if they are paid enough for the work they are doing or not.
        We are transparent. We are open and honest. We share information that are good and bad. So, we can continuously learn, 
        collaborate and make the right decisions. Yo can see more about our commitment to transparency from what we’ve shared with the 
        world.
    </div>
</div>
<div class="aboutUsImg"><br><br><br>
    <img src="/img/maleFemale.png" style="width:80%;"></img><br>
</div>
</about>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="texts"><br>
    <div>
        <a id="fot2" class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i> </a>
        <a id="fot3" class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i> </a>
        <a id="fot4" class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i> </a>
        <a id="fot5" class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope fa-lg"></i> </a>
    </div>
    <div class="cc">
        <p>Salary Transparency.WLiT © 2021/22</p>
    </div>
</footer>