
<!--NOT NEEDED <p class="texts">Welcome <%= name %></p> -->


<a href="/users/logout" class="btn" id="logout" style="position: fixed; right:1%; top:2%; padding-left:30px; padding-right:30px;">Logout</a>
<a href="/users/rankings" class="btn" id="logout" style="position: fixed; right:10%; top:2%; padding-left:30px; padding-right:30px;">See rankings</a>

<!-- image/logo here -->
<img class="logoTopLeft" src="img/logoWhite.png"></img>
<div>


</div>
<br><br><br>


<div style="text-align: center;">
    <a href="/users/employeeForm" class="btn" style="padding-left:30px; padding-right:30px;" >Employee</a>
    <a href="/users/companyForm" class="btn" style="padding-left:30px; padding-right:30px;">Company</a>
</div>
<br>
<div>
</div>
<div class="aboutUs col-6">
    <div class="fontA" style="font-size:80px; color:white; font-weight:400; line-height:80px; text-align: justify;">
        About <br> Us
    </div>
    <div id="texts" style="color:white;">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form.
    </div>
</div>

<div class="aboutUsImg col-6">
    <!-- IMAGE HERE -->
    <img class="logoTopLeft" src="img/maleFemale.png"></img>
    
</div>
<footer class="texts col-sm-12 col-12">
    <div>
        <a id="fot2" class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i> </a>
        <a id="fot3" class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i> </a>
        <a id="fot4" class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i> </a>
        <a id="fot5" class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope fa-lg"></i> </a>
    </div>
    <div class="cc">
        <p>Salary Transparency.WLiT © 2021/22</p>
    </div>
</footer>