<div class="col-3 sidebar">
    
  <img src="/img/logoWhite.png" style="width:40%;" id="leftMid"></img>

        <div class="btn logout" id="logout"><a href="/users/logout">Logout</a></div>
</div>
<div>
    <div class="search" id="texts">Search...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-search fa-lg" style="font-size:17px;"></i>
    </div>
    <br><br><br><br><br>
    <div class="fontA col-6 rank" id="rank">
        Our <br> Rankings
    </div>
    <div class="rankTable" id="texts" style="overflow-y: scroll;">
        <table class="table">
            <tr class="heading">
              <td>Rank</td>
              <td>Name</td>
              <td>Others</td>
              <td>Others</td>
              <td>Others</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Company Name</td>
              <td>Others</td>
              <td>Others</td>
              <td>Others</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
          </table>
    </div>
</div>