<div class="col-3" style="background-color: #a5c4d5; position:absolute; height:100%; left:0%;">
    <!-- IMAGE/LOGO -->
        <div class="btn" id="login" style="position:absolute; bottom:5%;"><a href="/users/login">Login</a></div>
</div>
<div>
    <div class="search" id="texts">Search...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-search fa-lg" style="font-size:17px;"></i>
    </div>
    <br><br><br><br><br>
    <div class="fontA col-6" style="font-size:80px; color:white; font-weight:400; line-height:80px; text-align:left; position:absolute; width:72%; right:0%;">
        Our <br> Rankings
    </div>
    <div class="rankTable" id="texts" style="overflow-y: scroll;">
        <table style="width:100%; font-size:25px;">
            <tr style="font-size: 30px; font-weight: 450; background-color:#dddddd;">
              <td>Rank</td>
              <td>Name</td>
              <td>Others</td>
              <td>Others</td>
              <td>Others</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Company Name</td>
              <td>Others</td>
              <td>Others</td>
              <td>Others</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Company Name</td>
                <td>Others</td>
                <td>Others</td>
                <td>Others</td>
              </tr>
          </table>
    </div>
</div>