<div id="box">
<div class="row mt-5" >
  <div class="col-md-6 m-auto">
    <!-- <img class="logoTopLeft" src="logoWhite.png"></img> -->
    <div class="logoGray"></div>
    <div class="card card-body col-lg-4 col-md-5 col-sm-8 col-auto" id="rightBox">
      <!-- <img src="logoGray.png"></img> -->
      <p class="fontA">Salary Transparency</p>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="btn" id="register"><a href="/users/register">Register</a></div> <br>
      <div class="btn" id="login"><a href="/users/login">Login</a></div>
    </div>
  </div>
</div>
</div>